body{
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    color: white;
    background-color: black;
}
#CCA{
    display: flex;
    align-items: center;       
    justify-content: center;   
    background-image: url("usethis.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    color: rgb(255, 255, 255);       
    text-align: center;
    font-size: 60px;
    -webkit-text-stroke: 3px black;
}
#CCA span{
    background-color: grey;
    padding: 10px;
    border-radius: 15px;
}
#imgtext{
  width: 100%;
  max-width: 100%;
  height: auto;
  text-align: center;
}
#boldtext{
  font-weight: bold;
  font-size: 30px;
}
#giftext{
  font-size: 50px;
  background-color: black;
  color: white;
  text-align: center;
}
#gif{
 height: 400px;
 width: 800px;
 align-items: center;
 background-repeat: no-repeat;
}
#rightwords{
  text-align: right;
}
#centerwords{
  text-align: center;
  align-items: center;
}
.caption{
  font-size: 10px;
}
#grey{
  background-color: rgb(44, 44, 44);
}
#red{
  color: red;
}
